@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&family=Lato&family=Oswald&family=Raleway:wght@300;400;500&display=swap');

/* ----------------- FONT FAMILIES
font-family: 'Inconsolata', monospace;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; 

purple #480ca8
purple pink #b5179e
yellow #ffba08

*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Inconsolata', monospace;
  background-color: #111024;
  color: aliceblue;
  margin-top: 2rem;
}

h1 {
  margin-bottom: 4rem;
}

/* ---------------------------------- ADD TASK */
#add-task {
  font-family: 'Inconsolata', monospace;
  width: 15rem;
  padding: 0.5rem;

  border-radius: 7px;
  border: 3px solid #ffba08;
  /* border-bottom: 3px; */
  box-shadow: 0px 2px 2px 0px rgba(255, 210, 8, 0.7);

  transition: all 0.3sec;
}
#add-task:hover,
#add-task:focus {
  outline: none;
  box-shadow: 0px 3px 3px 0px rgba(245, 205, 29, 0.7);
  transform: translateY(-3%);
}
#add-icon {
  background: none;
  border: none;
  padding: 0;
  /* background-image: url(images/plus.svg); */
}
#add-icon img {
  width: 30px;
  transition: all 0.3sec;
}
#add-icon img:hover {
  transform: translateY(-3%);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 2px 1px 0px rgba(255, 210, 8, 0.3);
}

/* ---------------------------------- LIST ELEMENTS */
ul {
  font-size: 18px;

  list-style-type: none;
  padding: 0;
}
/* li p {
  text-decoration: line-through;
} */
.delete-icon {
  background: none;
  border: none;
  padding: 0;
}
.delete-icon img {
  width: 25px;
  transition: all 0.3sec;
}
.delete-icon img:hover {
  transform: translateY(-3%);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 2px 1px 0px rgba(255, 210, 8, 0.3);
}
.hide {
  display: none;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  /* background-color: #111024; */
  border: 2px solid #480ca8;
  border-radius: 2px;
}
input[type='checkbox']:hover {
  -moz-box-shadow: 0 0 3px rgba(238, 113, 217, 0.7);
  -webkit-box-shadow: 0 0 3px rgba(238, 113, 217, 0.7);
  /* box-shadow: 0 1px 1px 0px rgba(238, 113, 217, 0.5); */
  /* outline: rgba(238, 113, 217, 0.5); */
  cursor: pointer;
}
input[type='checkbox']:checked {
  background-image: url(images/tick.svg);
}

/* ---------------------------------- TOGGLE BUTTON */
#toggle-tasks {
  background-color: #1c1b35;
  color: aliceblue;
  width: 20rem;
  padding: 0.6rem;

  font-family: 'Inconsolata', monospace;
  font-size: 17px;

  border: 2px solid rgb(14, 187, 218);
  border-radius: 7px;
  box-shadow: 0px 3px 2px 0px rgba(14, 187, 218, 0.5);
}

/* ----------------------------------------------------------------- PRIMITIVES ------------------------------------------------------------- */
/* -----------------------------------------------------------------            ------------------------------------------------------------- */
/* -----------------------------------------------------------------            ------------------------------------------------------------- */

/* ------------------------------------------------ CENTER / WIDTH  */
.center {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.width-ssm {
  max-width: 15rem;
}

.width-sm {
  max-width: 20rem;
}

.width-md {
  max-width: 50rem;
}

.width-lg {
  max-width: 60rem;
}

/* ------------------------------------------------ MARGIN STACKS  */
.stack-sm > * + * {
  margin-top: 0.5rem;
}

.stack-md > * + * {
  margin-top: 1rem;
}

.stack-lg > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 3rem;
}

/* ------------------------------------------------ HORIZONTAL ALIGNEMENT  */
.row {
  display: flex;
  gap: 1rem;
  /* flex-wrap: wrap; */
  align-items: center;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 4rem;
}

.justify-space-between {
  justify-content: space-between;
}
