@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&family=Lato&family=Oswald&family=Raleway:wght@300;400;500&display=swap');

/* ----------------- FONT FAMILIES
font-family: 'Inconsolata', monospace;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif; 

purple #480ca8
purple pink #b5179e
yellow #ffba08

*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Inconsolata', monospace;
  background-color: #151629;

  /* background: repeating-linear-gradient(
    45deg,
    #151629,
    #151629 10px,
    #465298 10px,
    #465298 12px
  ); */
  color: aliceblue;
  margin-top: 2rem;
}
/* .container {
  background-color: #151629;
  padding: 2rem;
} */

h1 {
  border-bottom: 1px dashed rgb(14, 187, 218);
  box-shadow: 0px 3px 0px 0px rgba(14, 187, 218, 0.5);
}
header img {
  width: 50px;
}
#title {
  margin-bottom: 4rem;
}
/* ---------------------------------- POPUP */
.popup {
  background-color: #22213d;
  color: aliceblue;

  visibility: hidden;
  position: relative;

  width: 120px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;

  text-align: center;
  font-size: 11px;
  border-radius: 6px;
  border: 2px solid rgba(212, 12, 122, 0.5);
  box-shadow: 0px 1px 9px 0px rgba(245, 30, 148, 0.5);

  z-index: 1;
  /* bottom: 78%;
  left: 47%;
  margin-left: -80px; */
}
.popup::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(212, 12, 122, 0.7) transparent transparent transparent;
}
.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ---------------------------------- ADD TASK */
#add-task {
  background-color: rgb(236, 228, 228);
  color: #191920;

  font-family: 'Inconsolata', monospace;
  width: 15rem;
  padding: 0.5rem;

  border-radius: 7px;
  border: 3px solid #ffba08;
  /* border-bottom: 3px; */
  box-shadow: 0px 2px 2px 0px rgba(255, 210, 8, 0.7);

  transition: all 0.3sec;
}
#add-task:hover,
#add-task:focus {
  outline: none;
  box-shadow: 0px 3px 7px 0px rgba(245, 205, 29, 0.7);
  transform: translateY(-3%);
}
#add-icon {
  background: none;
  border: none;
  padding: 0;
  /* background-image: url(images/plus.svg); */
}
#add-icon img {
  width: 30px;
  transition: all 0.3sec;
}
#add-icon img:hover {
  transform: translateY(-3%);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 2px 1px 0px rgba(255, 210, 8, 0.3);
}

/* ---------------------------------- LIST ELEMENTS */
ul {
  font-size: 18px;

  list-style-type: none;
  padding: 0;
}
.strike-through {
  text-decoration: line-through;
}

.delete-icon {
  position: fixed;
  margin-left: 17rem;
  background: none;
  border: none;
  padding: 0;
}
.delete-icon img {
  width: 25px;
  transition: all 0.3sec;
}
.delete-icon img:hover {
  transform: translateY(-3%);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 2px 1px 0px rgba(255, 210, 8, 0.3);
}
.hide {
  display: none;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;

  border: 2px solid #730db8;
  border-radius: 2px;
}
input[type='checkbox']:hover {
  -moz-box-shadow: 0 0 3px rgba(238, 113, 217, 0.7);
  -webkit-box-shadow: 0 0 3px rgba(238, 113, 217, 0.7);

  cursor: pointer;
}
input[type='checkbox']:checked {
  background-image: url(images/tick.svg);
}

/* ---------------------------------- TOGGLE BUTTON */
#toggle-tasks {
  background-color: #1c1b35;
  color: aliceblue;
  width: 20rem;
  padding: 0.6rem;

  font-family: 'Inconsolata', monospace;
  font-size: 17px;

  border: 2px solid rgb(14, 187, 218);
  border-radius: 7px;
  box-shadow: 0px 3px 2px 0px rgba(14, 187, 218, 0.5);

  transition: all 0.5sec;
}
#toggle-tasks:hover {
  box-shadow: 0px 4px 10px 0px rgba(23, 207, 240, 0.3);

  transform: translateY(-3%);
  cursor: pointer;
}

/* ---------------------------------- FOOTER */
footer {
  position: fixed;
  left: 1%;
  top: 45%;
}
footer img {
  width: 28px;
  transition: all 0.3s;
}
footer img:hover {
  transform: translateY(-3%);
}
#credits {
  flex-direction: column;
  font-size: 13px;
}
#credits p {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

/* ----------------------------------------------------------------- PRIMITIVES ------------------------------------------------------------- */
/* -----------------------------------------------------------------            ------------------------------------------------------------- */
/* -----------------------------------------------------------------            ------------------------------------------------------------- */

/* ------------------------------------------------ CENTER / WIDTH  */
.center {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.width-ssm {
  max-width: 15rem;
}

.width-sm {
  max-width: 20rem;
}

.width-md {
  max-width: 50rem;
}

.width-lg {
  max-width: 60rem;
}

/* ------------------------------------------------ MARGIN STACKS  */
.stack-sm > * + * {
  margin-top: 0.5rem;
}

.stack-md > * + * {
  margin-top: 1rem;
}

.stack-lg > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 3rem;
}

/* ------------------------------------------------ HORIZONTAL ALIGNEMENT  */
.row {
  display: flex;
  gap: 1rem;
  /* flex-wrap: wrap; */
  align-items: center;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 4rem;
}

.justify-space-between {
  justify-content: space-between;
}
